{% if include.max-height %}
    {% assign max-height = include.max-height %}
{% else %}
    {% assign max-height = 400 %}
{% endif %}

<div class="image-gallery {{ include.class }}" style="{{ include.style }}" itemscope itemtype="http://schema.org/ImageGallery">
    
    {% for image in include.images %}
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        
        {% if page.layout == 'post' %}
        <a href="{{ site.baseurl }}/assets/img/blog/{{ page.date | date: '%Y-%m-%d' }}-{{ page.post-id }}/{{ image.src }}" itemprop="contentUrl" data-size="{{ image.maxres }}">
            <img  style="max-height: {{ max-height }}px;" src="{{ site.baseurl }}/assets/img/blog/{{ page.date | date: '%Y-%m-%d' }}-{{ page.post-id }}/{{ image.src }}" itemprop="thumbnail" alt="Image description" />
        </a>
        {% else %}
        <a href="{{ image.src }}" itemprop="contentUrl" data-size="{{ image.maxres }}">
            <img style="max-height: {{ max-height }}px;" src="{{ image.src }}" itemprop="thumbnail" alt="Image description" />
        </a>
        {% endif %}
        
        <figcaption itemprop="caption description" style="display: none;">{{ image.caption }}</figcaption>
    </figure>
    
    {% if image != include.images.last %}
    <div class="padding">&nbsp;</div>
    {% endif %}
    
    {% endfor %}
    
</div>
