<div style="max-width:425px; margin-left: auto; margin-right: auto; margin-top:20px; margin-bottom:35px;">
<div style="width: 100%; padding-top: 100%; position:relative;">
    
    <iframe style="padding: 0px; position:absolute; top:0; left:0; width:100%; height:100%;" 
            src="{{ include.url }}?feature=oembed&controls=1&showinfo=1&modestbranding=1&rel=0&autohide=1" 
            frameborder="0" 
            allow="autoplay; encrypted-media" 
            allowfullscreen></iframe>
    
</div>
</div>