---
layout: page
title: Portfolio
nav_title: Portfolio
nav_order: 2
photoswipe: true
hide: false
---

{% assign projects = site.data.projects %}
{% for project in projects %}
<div class="project">
    <img class="project-icon" src="{{ project.icon }}" alt="{{ project.name }} icon">
    <div class="project-text">
        <div>
            <h2>{{ project.name }}</h2>
            <p>{{ project.subtitle }}</p>
        </div>
    </div>
    <!-- App Store button next to title on large viewports -->
    <div class="app-store-large-viewport">
        <a href="{{ project.link }}" target="_blank"><img class="app-store-badge" src="/assets/img/download-app-store.svg"></a>
        <style>
            @media (prefers-color-scheme: dark) {
                .app-store-badge {
                    content:url('/assets/img/download-app-store-dark.svg');
                }
            }
        </style>
    </div>
</div>


<p class="project-description">{{ project.description }}</p>

{% include photoswipe.html images=project.screenshots %}

<!-- App Store button below screenshots on small viewports -->
<div class="app-store-small-viewport">
    <a href="{{ project.link }}" target="_blank" class="app-store-badge"><img src="/assets/img/download-app-store.svg"></a>
</div>

<hr>
{% endfor %}
