article,
.comments {
    @extend %padding-regular;
    border-bottom: 1px solid $border-color;
    float: left;
    width: 100%;
}

article {
    
    padding-bottom: 20px;
    
    a:hover {
        @extend .body-link;
    }
    .footnotes {
        font-size: 0.9em;
    }
    
    p {
        font-size: 0.88em !important;
        font-family: sans-serif !important;
        margin-bottom: 25px;
        line-height: 1.8;
        color: #444 !important;
    }
    
    @media (prefers-color-scheme: dark) {
        p {
            color: #ddd !important;
        }
    }
    
    h4 {
        font-size: 1.25em !important;
        margin-bottom: 20px;
    }
    
    h1 {
        margin: 10px 0 0;
        font-size: 2.25em !important;
    }
    
}

footer {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9em;
    display: inline-block;
    text-align: center;
    .meta {
        color: rgba(white, .5);
        letter-spacing: 0.1em;
        display: inline;
        text-transform: uppercase;
    }
    
    @media (prefers-color-scheme: dark) {
        .meta {
            color: #ddd;
        }
    }
    
    a.button {
        margin-left: 1em;
    }
}

/* --- Post navigation --- */
#post-nav {
    width: 100%;
    border-bottom: 1px solid $border-color;
    display: flex;
    float: left;

    a,
    .page-title {
        display: inline-block;
    }

    .page-title {
        font-size: 1.2em;
        margin-bottom: 1em;
        width: 100%;
    }

    a {
        padding: 2em 3em;
        border: 1px solid rgba(255, 255, 255, 0);
        text-align: center;
        width: 50%;
    }

    i {
        vertical-align: middle;
    }
}
