---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div id="main" class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
      <span>
          <header>
            <h1 class="balance-text">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h1>
            <p class="meta">
              {{ post.date | date: "%B %-d, %Y" }}
            </p>
          </header>
          <div class="excerpt">
            {{ post.content  | split:'<!--break-->' 
              | first 
              | replace: 'href="/assets',  'href="page_url" zzzz="/assets'
              | replace: 'page_url', post.url
             }}
          </div>
          <a class="button" style="margin-top: 5px;" href="{{ post.url | prepend: site.baseurl }}">
              {{ site.theme_settings.str_continue_reading }}
            </a>
      </span>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next_page }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>

<!-- cycles through posts to get tags -->
{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign post_tags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:post_tags %}
{% endfor %}

<!-- cycles through portfolio collection to get tags -->
{% assign portfolio =  site.portfolio | map: 'tags' | join: ','  | split: ',' | uniq %}
{% for tag in portfolio %}
{% assign portfolio_tags = tag | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:portfolio_tags %}
{% endfor %}

<!-- cycles through pages to get tags -->
{% for page in site.pages %}
{% assign page_tags = page.tags | join:'|'  %}
{% assign rawtags = rawtags | append:page_tags %}
{% endfor %}    
    
<!-- Displays the list of tags-->
<div style="padding: 25px;">
    {% include tags_list.html tags=rawtags %}
</div>
